<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="ja" th:replace="component :: head"></head>

<body>

<div th:replace="component :: content(~{::main})">
  <main>
    <div class="row">
      <form class="col s12" th:action="@{/form/material}" th:object="${form}" method="post"
            enctype="multipart/form-data">
        <div class="row"></div>
        <!--name-->
        <div class="row">
          <div class="input-field col s12">
            <input placeholder="Placeholder" id="name" type="text" class="validate" data-length="30"
                   th:field="*{name}"/>
            <label for="name" data-error="wrong" data-success="right">Name</label>
          </div>
        </div>
        <!--error-->
        <div class="row">
          <div class="input-field col s12">
            <input placeholder="error test" id="error-test" type="text" class="validate" data-length="10" value="testtesttest"/>
            <label for="error-test" data-error="wrong" data-success="right" class="red-text">has error</label>
          </div>
        </div>
        <!--select box-->
        <div class="row">
          <div class="input-field col s12">
            <select multiple name="select">
              <option value="" disabled selected>choose PPAP</option>
              <option th:selected="*{select.contains('1')}" value="1">apple</option>
              <option th:selected="*{select.contains('2')}" value="2">pineapple</option>
              <option th:selected="*{select.contains('3')}" value="3">pen pineapple apple pen</option>
            </select>
            <label>Materialize Multiple Select</label>
          </div>
        </div>
        <!--textarea-->
        <div class="row">
          <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea" name="textarea"
                      data-length="300">[[*{textarea}]]</textarea>
            <label for="textarea1">Textarea</label>
          </div>
        </div>
        <!--date-->
        <div class="row">
          <div class="input-field col s4">
            <input type="text" id="datepicker" class="datepicker" name="datepicker" th:value="*{datepicker}">
            <label for="datepicker">date</label>
          </div>
          <div class="input-field col s4">
            <select name="hour">
              <option value="" disabled selected>select hour</option>
              <option th:selected="*{hour} == '00'" value="00">00</option>
              <option th:selected="*{hour} == '01'" value="01">01</option>
              <option th:selected="*{hour} == '02'" value="02">02</option>
              <option th:selected="*{hour} == '03'" value="03">03</option>
              <option th:selected="*{hour} == '04'" value="04">04</option>
              <option th:selected="*{hour} == '05'" value="05">05</option>
              <option th:selected="*{hour} == '06'" value="06">06</option>
              <option th:selected="*{hour} == '07'" value="07">07</option>
              <option th:selected="*{hour} == '08'" value="08">08</option>
              <option th:selected="*{hour} == '09'" value="09">09</option>
              <option th:selected="*{hour} == '10'" value="10">10</option>
              <option th:selected="*{hour} == '11'" value="11">11</option>
              <option th:selected="*{hour} == '12'" value="12">12</option>
              <option th:selected="*{hour} == '13'" value="13">13</option>
              <option th:selected="*{hour} == '14'" value="14">14</option>
              <option th:selected="*{hour} == '15'" value="15">15</option>
              <option th:selected="*{hour} == '16'" value="16">16</option>
              <option th:selected="*{hour} == '17'" value="17">17</option>
              <option th:selected="*{hour} == '18'" value="18">18</option>
              <option th:selected="*{hour} == '19'" value="19">19</option>
              <option th:selected="*{hour} == '20'" value="20">20</option>
              <option th:selected="*{hour} == '21'" value="21">21</option>
              <option th:selected="*{hour} == '22'" value="22">22</option>
              <option th:selected="*{hour} == '23'" value="23">23</option>
            </select>
            <label>hour</label>
          </div>
          <div class="input-field col s4">
            <select name="minutes">
              <option value="" disabled selected>select minutes</option>
              <option th:selected="*{minutes} == '00'" value="00">00</option>
              <option th:selected="*{minutes} == '30'" value="30">30</option>
            </select>
            <label>minutes</label>
          </div>
        </div>
        <!--file-->
        <div class="row">
          <div class="file-field input-field">
            <div class="btn">
              <span>File</span>
              <input type="file" name="file"/>
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
          </div>
        </div>
        <div>
          <div class="input-field col s12">
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
      </form>
    </div>

    <script th:inline="javascript">
      $(function() {
        $('.datepicker').pickadate({
          selectMonths: true, // Creates a dropdown to control month
          // Strings and translations
          monthsFull: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
          monthsShort: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
          weekdaysFull: ['日曜日', '月曜日', '火曜日', '水曜日', '木曜日', '金曜日', '土曜日'],
          weekdaysShort: ['日', '月', '火', '水', '木', '金', '土'],
          showMonthsShort: undefined,
          showWeekdaysFull: undefined,
          format: 'yyyy/mm/dd',
        });

        $('select').material_select();
      });


    </script>
  </main>
</div>

</body>
</html>
