<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head lang="ja" th:fragment="head">
    <meta charset="UTF-8" />
    <title>sample spring boot mobile</title>
    <!-- Compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{css/jquery.fileupload.css}">

    <!-- Compiled and minified JavaScript -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script type="text/javascript" th:src="@{/js/app.js}"></script>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>

    <div th:replace="component :: content(~{::main})">
      <main>
        <form th:action="@{/cms}" method="post">
          <div class="row"></div>
          <div class="row">
            <button class="btn waves-effect waves-light center-align" type="submit" name="action">
          Submit
          <i class="material-icons right">send</i>
        </button>
          </div>
          <div class="row">
            <textarea name="content">Easy (and free!) You should check out our premium features.</textarea>
          </div>
        </form>
        <script th:src="@{/js/tinymce/tinymce.min.js}"></script>

        <script th:inline="javascript">
          $(function() {
            tinymce.init({
              selector: 'textarea',
              height: 500,
              theme: 'modern',
              plugins: [
                'advlist autolink lists link image charmap print preview hr anchor pagebreak',
                'searchreplace wordcount visualblocks visualchars code fullscreen',
                'insertdatetime media nonbreaking save table contextmenu directionality',
                'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc'
              ],
              toolbar1: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
              toolbar2: 'print preview media | forecolor backcolor emoticons | codesample',
              image_advtab: true,
              templates: [{
                  title: 'Test template 1',
                  content: 'Test 1'
                },
                {
                  title: 'Test template 2',
                  content: 'Test 2'
                }
              ],
              content_css: [
                '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
                '//www.tinymce.com/css/codepen.min.css'
              ]
            });
          });
        </script>
      </main>
    </div>

  </body>

</html>
