<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>sample i18n validation</title>
</head>
<div>
  <form th:action="@{/sample/valid}" th:object="${sampleModel}" method="post">
    <!-- all error messages -->
    <div>
      <p>
        <span>all errors</span>
      </p>
      <ul th:each="error : ${#fields.detailedErrors()}">
        <li th:text="${error.message}">error msg</li>
      </ul>
    </div>
    <hr/>

    <!-- input fields -->
    <div>
      <p>
        <input th:field="*{name}" type="text" placeholder="name" min="3" max="50" size="50"/>
      </p>
      <p>
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name valid error</span>
      </p>
    </div>
    <hr/>

    <!-- submit -->
    <p>
      <input type="submit" value="submit"/>
    </p>
  </form>
</div>
</html>
