<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="ja">
    <meta charset="UTF-8" />
    <title>ユーザー情報入力</title>
</head>
<body>

<div th:include="/parts::header"/>
<hr />

<h1>ユーザー情報入力</h1>
<hr />

<form th:object="${user}" th:attr="action=@{/user/input}" method="POST">
    <ul>
        <li>
            名前:&nbsp;
            <input type="text" th:field="*{name}" th:value="*{name}" th:readonly="${readonly}" value="" />
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">error</p>
        </li>
        <li>
            Mail:&nbsp;
            <input type="text" th:field="*{mail}" th:value="*{mail}" th:readonly="${readonly}" value="" />
            <p th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}">error</p>
        </li>
        <li>
            TEL:&nbsp;
            <input type="number" th:field="*{tel}" th:value="*{tel}" th:readonly="${readonly}" value="" />
            <p th:if="${#fields.hasErrors('tel')}" th:errors="*{tel}">error</p>
        </li>
        <li>
            年齢:&nbsp;
            <input type="text" th:field="*{age}" th:value="*{age}" th:readonly="${readonly}" value="" />
            <p th:if="${#fields.hasErrors('age')}" th:errors="*{age}">error</p>
        </li>
    </ul>

    <input th:unless="${isConfirm}" type="submit" value="送信" />
</form>

<form th:if="${isConfirm}" th:attr="action=@{/user/register}" method="POST">
    <input type="submit" value="登録" />
</form>

<hr />
<div th:replace="/parts::footer"/>

</body>
</html>
