<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="ja" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <meta charset="UTF-8" />
  <title>title</title>
</head>
<body>

<div th:fragment="head">
  <meta charset="UTF-8" />
  <title>sample spring session redis</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css" />
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta property="og:title" content="ogpのタイトル" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://yamashiro0110.com/" />
  <meta property="og:image" content="" />
  <meta property="og:site_name" content="yamashiro0110" />
  <meta property="og:description" content="ogpのディスクリプション" />

  <!-- Facebook用設定 -->
  <meta property="fb:app_id" content="920136291402443" />
  <!--もしくは-->
  <!--<meta property="fb:admins" content="adminID（15文字の半角数字）" />-->
  <!-- ※Twitter共通設定 -->
  <meta name="twitter:card" content="summary" />
</div>

<nav th:fragment="navbar">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">JavaScript</a></li>
    </ul>
  </div>
</nav>

<div th:fragment="contents">
  <nav class="">
    <!--dropdown-->
    <ul id="dropdown1" class="dropdown-content">
      <li><a th:href="@{/}">index</a></li>
      <li><a th:href="@{/login}">login</a></li>
      <li><a th:href="@{/session}">session</a></li>
      <li><a th:href="@{/user}">user</a></li>
      <li><a th:href="@{/health}">health</a></li>
      <li><a th:href="@{/info}">info</a></li>
      <li><a th:href="@{/metrics}">metrics</a></li>
      <li><a th:href="@{/trace}">trace</a></li>
      <li><a th:href="@{/logout}">logout</a></li>
    </ul>
    <!--navbar-->
    <div class="nav-wrapper">
      <a th:href="@{/}" class="brand-logo">Sample Spring Session Redis</a>
      <a href="#" data-activates="slide-out" class="button-collapse left">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">
          Dropdown<i class="material-icons right">arrow_drop_down</i></a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <noscript>
      <div class="row">
        <div class="col">
          javascriptが無効です
        </div>
      </div>
    </noscript>

    <div th:replace="${content}"></div>

    <div class="divider"></div>
    <div class="row">
      <div class="col">
        <a th:href="@{https://www.facebook.com/sharer/sharer.php(u = 'http://qiita.com/RyoTa63292153/items/99530cd68ead2a03fc19')}"
           class="waves-effect waves-teal btn-flat" target="_blank">FBでシェア</a>
      </div>
      <div class="col">
        <a th:href="@{https://twitter.com/share(url = 'http://qiita.com/RyoTa63292153/items/99530cd68ead2a03fc19',text = 'ThymeleafでSpringTemplateEngineをカスタマイズする')}"
           class="waves-effect waves-teal btn-flat" target="_blank">Twitterでシェア</a>
      </div>
      <div class="col">
        <a th:href="@{http://line.me/R/msg/text/?SpringTemplateEngine Spring Boot + ThymeleafでSpringTemplateEngineをカスタマイズする}"
           class="waves-effect waves-teal btn-flat" target="_blank">LINEでシェア</a>
      </div>
    </div>
  </div>

  <script th:inline="javascript">
    $(function() {
      $('.materialboxed').materialbox();
    });
  </script>
</body>
</html>
