<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="components :: head"></head>

<body>

<div th:replace="components :: contents(content = ~{::main})">
  <main>
    <h3>custom login user info</h3>

    <div class="row">
      <p>userInfo</p>
      <div class="input-field">
        <textarea class="materialize-textarea" readonly="readonly" th:text="${userInfo}"></textarea>
      </div>
    </div>
    <hr/>

    <div class="row">
      <p>userToken</p>
      <div class="input-field">
        <textarea class="materialize-textarea" readonly="readonly" th:text="${userToken}"></textarea>
      </div>
    </div>
  </main>
</div>

</body>
</html>
