<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="components :: head"></head>
<body>

<div th:replace="components :: contents(content = ~{::main})">
  <main>
    <h3>index</h3>
    <hr/>

    <ul class="collection">
      <li class="collection-item">
        <a th:href="@{/user}">user info(default user info)</a>
      </li>
      <li class="collection-item">
        <a th:href="@{/user/default}">default user info</a>
      </li>
      <li class="collection-item">
        <a th:href="@{/user/custom}">custom user info</a>
      </li>
      <li class="collection-item">
        <a th:href="@{/session}">session</a>
      </li>
      <li class="collection-item">
        <a th:href="@{/auto/login}">auto login</a>
      </li>
      <li class="collection-item">
        <a th:href="@{/image}">image</a>
      </li>
    </ul>
  </main>
</div>

</body>
</html>
